{% extends 'base.html'%}
{% block content %}

<br />
<center>
    <h1>About FlaskCrud App</h1>
    <p>
        FlaskCrud is a user-friendly Flask application designed to streamline workout tracking. Whether you're a fitness
        enthusiast, athlete, or simply someone looking to maintain a healthy lifestyle, FlaskCrud simplifies the process
        of recording and monitoring your workouts. With intuitive features and easy setup, managing your exercise
        routine has never been more convenient.
    </p>

</center>

{% endblock%}